<div class="self-start break-words max-w-[40%] bg-white p-4 rounded-xl message-box-<%= message.user.id %>"}>
  <% unless message.room.is_private? %>
    <p class="text-sm font-semibold text-gray-600 mb-2">
      <%= message.user.email %>
    </p>
  <% end %>
  <p class="text-gray-800 font-medium">
    <%= message.body %>
  </p>
</div>
